* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1350px) {
      padding: 0 16px;
  }
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h1,
h3 {
  margin: 0;
  padding: 0;
}

$bg1: linear-gradient(107.3deg, #5E56FF 0%, #55AAFF 100%);
$bg2: #E3EEFF;
$bg3: #EEF5FF;

$basic1: #5696FF;
$basic2: #62CF86;
$basic3: #59C67D;
$basic4: #C1D0E6;
$basic5: #ACBFDC;
$basic6: #FFFFFF;

$text1: #020940;
$text2: #343A67;
$text3: #5F648C;
$text4: #808CAD;
$text5: #8BA0C9;
$text6: #FFFFFF;
@media (max-width: 1350px) {
  }


// Form
form {
  .input__field {
      position: relative;
      .input {
          width: 100%;
          background: $basic6;
          box-shadow: 0 7px 50px rgba(61, 70, 83, 0.3);
          border-radius: 10px;
          padding: 23px 20px;
          border: none;
          outline: none;
          font-size: 16px;
          line-height: 24px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: $text1;
          @media (max-width: 374px) {
              padding: 15px 10px;
              font-size: 14px;
          }
          &::placeholder {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: $text5;
              @media (max-width: 375px) {
                  font-size: 14px;
              }
          }
      }
      .form__btn {
          position: absolute;
          right: 5px;
          top: 5px;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          color: $text6;
          background: $basic2;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 20px 16px;
          border-radius: 7px;
          @media (max-width: 374px) {
              padding: 10px 5px;
              top: 8px;
              font-size: 12px;
          }
          &:hover {
              background: $basic3;
              transition: 0.3s all ease;
          }
      }
  }
  .form__subtext {
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 39px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: #93621A;
      text-align: center;
      display: block;
      margin-top: 18px;
      @media (max-width: 992px) {
          display: none;
      }
  }
}
// Header
header {
  .form__wrapper {
      max-width: 600px;
      background: linear-gradient(135deg, #FBA24E 0%, #FEE291 100%);
      border-radius: 19px;
      padding: 25px;
      margin-top: 30px;
      &.desctop__form {
          @media (max-width: 992px) {
              display: none;

          }
      }
      &.mobile__form {
          display: none;
          margin-top: -75px;
          @media (max-width: 992px) {
              display: flex;
              form {
                  width: 100%;
              }
          }
      }
      @media (max-width: 992px) {
          background: transparent;
          max-width: 100%;
          padding: 0;
      }
  }
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: -0.04em;
  color: $basic6;
  background: $bg1;
  padding-bottom: 80px;
  @media (max-width: 768px) {
      padding-bottom: 50px;
  }
  .navbar {
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 768px) {
          padding: 15px 0;
      }
      .logo {
          color: $text6;
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 45px;
          letter-spacing: -0.04em;
          @media (max-width: 768px) {
              font-size: 26px;
              line-height: 39px;
          }
      }
      .nav__btn {
          color: $text6;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          padding: 18px 30px;
          border: 2px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 10px;
          @media (max-width: 768px) {
              padding: 13px 20px;
          }
          &:hover {
              color: $basic1;
              background: $text6;
              transition: 0.3s all ease;
          }
      }
  }
  .header {
      display: flex;
      justify-content: space-between;
      @media (max-width: 992px) {
          flex-wrap: wrap;
      }
      &__item {
          @media (max-width: 992px) {
              max-width: 100%;
              width: 100%;
          }
          &.image__item {
              padding-top: 70px;
              @media (max-width: 992px) {
                  padding-top: 25px;
                  justify-content: center;
                  display: flex;
              }
              @media (max-width: 500px) {
                  img {
                      max-width: 100%;
                      width: 100%;
                      height: auto;
                  }
              }
          }
          .title {
              color: $text6;
              font-style: normal;
              font-weight: 600;
              font-size: 80px;
              line-height: 85px;
              letter-spacing: -0.04em;
              max-width: 689px;
              @media (max-width: 1250px) {
                  font-size: 70px;
                  line-height: 75px;
              }
              @media (max-width: 992px) {
                  max-width: 100%;
              }
              @media (max-width: 768px) {
                  font-size: 45px;
                  line-height: 50px;
              }
              @media (max-width: 500px) {
                  line-height: 45px;
                  font-size: 38px;
              }
              @media (max-width: 374px) {
                  line-height: 1;
                  font-size: 22px;
                  margin: 10px 0;
              }
          }
          .header__list {
              margin-top: 21px;
              @media (max-width: 500px) {
                  margin-top: 8px;
              }
              &-item {
                  position: relative;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 28px;
                  line-height: 42px;
                  color: $text6;
                  padding-left: 42px;
                  margin-top: 4px;
                  @media (max-width: 500px) {
                      line-height: 20px;
                      font-size: 13px;
                      margin-top: 12px;
                  }
                  @media (max-width: 374px) {
                      margin-top: 5px;
                  }
                  &::after {
                      content: '';
                      position: absolute;
                      left: 0;
                      top: 5px;
                      width: 26px;
                      height: 26px;
                      background: url('../img/list__icon.svg');
                      @media (max-width: 500px) {
                          width: 18px;
                          height: 18px;
                          background-size: cover;
                          top: 0;
                      }
                  }
              }
          }

      }
  }
  .header__info {
      display: flex;
      justify-content: space-between;
      margin-top: 98px;
      @media (max-width: 768px) {
          display: none;
      }
      &-item {
          display: flex;
          align-items: center;
          &.left__item {
              justify-content: space-between;
              display: flex;
              max-width: 812px;
              width: 100%;
          }
          .info__item {
              display: flex;
              align-items: center;
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 25px;
              color: $text6;
              img {
                  margin-right: 20px;
              }
              &:nth-child(1) {
                  max-width: 175px;
                  width: 100%;
              }
              &:nth-child(2) {
                  max-width: 205px;
                  width: 100%;
              }
              &:nth-child(3) {
                  max-width: 242px;
                  width: 100%;
              }
          }

          .info__text {
              max-width: 202px;
              width: 100%;
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 25px;
              text-align: right;
              color: $text6;
          }
      }
  }
}


